@import '_config.scss';
@import '_mixin.scss';
@import '_reset.scss';
.con {
    .swiper-slide {
        overflow: auto;
    }
    .swiper-container {
        height: 100%;
    }
    .search-link {
        margin: pxTorem(15px);
        display: flex;
        .not-input {
            flex: 1;
            height: pxTorem(44px);
            border-radius: 6px;
            border: 1px solid $border-color;
            @include bg('../imgs/icon-search.png', pxTorem(10px));
            background-size: pxTorem(18px);
            line-height: pxTorem(44px);
            padding-left: pxTorem(38px);
        }
        .switch-btn {
            width: pxTorem(44px);
            height: pxTorem(44px);
            border: 1px solid $border-color;
            border-radius: 6px;
            margin-left: pxTorem(15px);
            @include bg('../imgs/icon-swicth-list.png');
            background-size: pxTorem(18px);
            &.change-style{
                @include bg('../imgs/icon-switch.png');
                background-size: pxTorem(18px);
            }
        }
    }
    .swiper-slide {
        width: 100%;
        img {
            width: 100%;
        }
    }
    .classify-list {
        width: 100%;
        display: flex;
        dl {
            width: 20%;
            margin: 10px 0;
            dt {
                width: pxTorem(30px);
                height: pxTorem(30px);
                margin: 0 auto;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            dd {
                text-align: center;
                line-height: 2;
            }
        }
    }
    .recommend-title {
        width: 100%;
        padding-left: pxTorem(15px);
        line-height: pxTorem(44px);
        border-bottom: 1px solid $border-color;
        font-weight: bold;
    }
    .change-btn {
        width: 100%;
        height: pxTorem(44px);
        background-color: transparent;
        font-size: pxTorem(16px);
    }
    .shelf-list{
        width:100%;
        dl{
            width:100%;
            display: flex;
            padding:pxTorem(15px);
            box-sizing: border-box;
            dt{
                width:pxTorem(100px);
                height: pxTorem(120px);
                overflow: hidden;
                img{
                    width:100%;
                    height: 100%;
                }
            }
        }
        &.change-style{
            display: flex;
            flex-wrap: wrap;
            dl{
                width:33.3%;
                flex-direction: column;
                .author,.already,.new{
                    display: none;
                }
            }
        }
    }
}